.menu {
  position: fixed; 
  top: 10px;       
  left: 10px;      
  z-index: 1000;  
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: black;   
}


.menu-content {
  display: none;
  position: fixed;
  top: 10px;      
  left: 5px;      
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1001;   
}
