.menu {
  position: fixed; 
  top: 10px;       
  left: 10px;      
  z-index: 1000;  
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: black;   
}


.menu-content {
  display: none;
  position: fixed;
  top: 50px;      
  left: 10px;      
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1001;   
}

.dark-theme {
  background-color: #222; 
  color: white; 
}


.dark-theme .menu-content {
  background-color: #555;
}

.dark-theme button {
  background-color: #666;
  color: white;
}
